# This file is described here:  https://help.github.com/en/articles/about-code-owners

# Global Owners: These are Brigade(ब्रिगेड)core org maintainers + maintainers of this repo
* @Brigade(ब्रिगेड)core/maintainers @Brigade(ब्रिगेड)core/docs-hindi-maintainers
