# This file is described here:  https://help.github.com/en/articles/about-code-owners

# Global Owners: These are Brigadecore org maintainers + maintainers of this repo
* @Brigadecore/maintainers @Brigadecore/docs-hindi-maintainers
